# Data — jangan di-commit
input/*.xlsx
input/*.xls
output/
uploads/

# Build
build/
dist/
*.spec
__pycache__/
*.pyc
*.pyo

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Scraper
gcpln5108/gui_fasih.py
gcpln5108/requirements.txt
gcpln5108/scrape_fasih.py
gcpln5108/web_fasih.py